In [211]:
import create_population_turf
import create_population_turf_newbie
import create_population_turf_nowin
import create_population_obstract
import create_population_dirt
import create_population_dirt_newbie
import create_population_dirt_nowin
import preprocessing
from feature_engineering import FeatureCreator
from feature_engineering_prediction import PredictionFeatureCreator

import prediction


import pandas as pd
import numpy as np


import condition_prediction


from train_lgbm_rank_niti_cross import Trainer_lightgbm_rank_niti_cv
from train_lightgbm_time import Trainer_lightgbm_time
from train_lgbm_time_cross import Trainer_lightgbm_time_cv
from train_lgbm_index_cross import Trainer_lightgbm_index_cv

from evaluation_lightgbm_time_kaiki import Evaluator_lightgbm_time_kaiki

from evaluation_shaft_time_kaiki_cross import Evaluator_lightgbm_time_kaiki_shaft

from evaluation_lgbm_rank_niti_cross import Evaluator_lightgbm_rank_niti_cross
from evaluation_shaft_rank_cross import Evaluator_lightgbm_rank_niti_shaft

from evaluation_lightgbm_index import Evaluator_lightgbm_index

from evaluation_shaft_index import Evaluator_lightgbm_index_shaft


%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [98]:
%autoreload

In [99]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 800)

In [391]:
df = pd.read_csv("../data/03_train/evaluation_lightgbm_rank_niti_cv_dev_turf_only_tenkai.csv",sep="\t")
df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred,pred_binary
0,201709040907,2014103283,0,6,5.8,3,7,0.083403,1
1,201709040907,2012104775,0,5,66.2,11,10,0.075318,1
2,201709040907,2011104013,0,4,72.5,12,5,0.041153,0
3,201709040907,2013106012,0,3,2.3,1,18,0.176473,1
4,201709040907,2014102617,0,2,329.3,17,12,0.026799,0
...,...,...,...,...,...,...,...,...,...
90419,202406050911,2022104772,0,16,6.4,2,12,0.048605,0
90420,202406050911,2022105773,0,15,138.0,15,14,0.041803,0
90421,202406050911,2022101745,0,13,7.6,3,15,0.053242,0
90422,202406050911,2022105033,0,12,54.2,11,13,0.041243,0
90423,202406050911,2022105519,0,11,9.9,4,18,0.050596,0

In [392]:
#期待値
df["expect_return"] = df["tansho_odds"] * df["pred"]
df["payoff"] = df["target"] * df["tansho_odds"]
df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred,pred_binary,expect_return,payoff
0,201709040907,2014103283,0,6,5.8,3,7,0.083403,1,0.483740,0.0
1,201709040907,2012104775,0,5,66.2,11,10,0.075318,1,4.986071,0.0
2,201709040907,2011104013,0,4,72.5,12,5,0.041153,0,2.983594,0.0
3,201709040907,2013106012,0,3,2.3,1,18,0.176473,1,0.405888,0.0
4,201709040907,2014102617,0,2,329.3,17,12,0.026799,0,8.824848,0.0
...,...,...,...,...,...,...,...,...,...,...,...
90419,202406050911,2022104772,0,16,6.4,2,12,0.048605,0,0.311075,0.0
90420,202406050911,2022105773,0,15,138.0,15,14,0.041803,0,5.768750,0.0
90421,202406050911,2022101745,0,13,7.6,3,15,0.053242,0,0.404642,0.0
90422,202406050911,2022105033,0,12,54.2,11,13,0.041243,0,2.235350,0.0
90423,202406050911,2022105519,0,11,9.9,4,18,0.050596,0,0.500903,0.0

In [62]:
bet_df = df.query("expect_return > 1.0 and pred > 0.08")
bet_df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred,pred_binary,expect_return
4,201709040710,2013104956,0,3,7.7,4,10,0.151707,1,1.168142
41,201706040711,2012104678,0,10,13.5,7,4,0.142301,1,1.921062
55,201706040711,2012104008,0,3,5.4,3,9,0.242821,1,1.311235
58,201709040807,2013104488,0,12,15.7,8,12,0.125473,1,1.969930
60,201709040810,2012103929,0,3,20.1,8,5,0.108937,1,2.189640
...,...,...,...,...,...,...,...,...,...,...
89143,202407040110,2021100935,0,5,10.2,6,3,0.141294,1,1.441199
89145,202407040110,2021105926,0,3,4.7,2,4,0.277356,1,1.303575
89146,202407040110,2020103241,0,2,5.7,4,6,0.275453,1,1.570082
89147,202407040108,2021106118,0,15,13.2,6,3,0.165345,1,2.182559
89154,202407040108,2021104918,0,8,23.9,8,10,0.139651,1,3.337669

In [63]:
#単勝オッズ（払い戻し）xターゲットは当たったか当たってないか、単勝
#的中率は調べてない、賭け方が1以上の場合にかけているから関係ない
bet_df = bet_df.copy()
bet_df.loc[:, "payoff"] = bet_df["target"] * bet_df["tansho_odds"]

bet_df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred,pred_binary,expect_return,payoff
4,201709040710,2013104956,0,3,7.7,4,10,0.151707,1,1.168142,0.0
41,201706040711,2012104678,0,10,13.5,7,4,0.142301,1,1.921062,0.0
55,201706040711,2012104008,0,3,5.4,3,9,0.242821,1,1.311235,0.0
58,201709040807,2013104488,0,12,15.7,8,12,0.125473,1,1.969930,0.0
60,201709040810,2012103929,0,3,20.1,8,5,0.108937,1,2.189640,0.0
...,...,...,...,...,...,...,...,...,...,...,...
89143,202407040110,2021100935,0,5,10.2,6,3,0.141294,1,1.441199,0.0
89145,202407040110,2021105926,0,3,4.7,2,4,0.277356,1,1.303575,0.0
89146,202407040110,2020103241,0,2,5.7,4,6,0.275453,1,1.570082,0.0
89147,202407040108,2021106118,0,15,13.2,6,3,0.165345,1,2.182559,0.0
89154,202407040108,2021104918,0,8,23.9,8,10,0.139651,1,3.337669,0.0

In [64]:
#払い戻しの合計
total_payoff = bet_df["payoff"].sum()
total_payoff

np.float64(9967.9)

In [65]:
#払い戻し、馬券購入回数、回収率
total_bet = len(bet_df)
return_rate = total_payoff / total_bet
total_payoff,total_bet,return_rate

(np.float64(9967.9), 12027, np.float64(0.8287935478506693))

In [66]:
#期待値がどれくらい上になるかを検証
np.linspace(0.8,10,10)

array([ 0.8       ,  1.82222222,  2.84444444,  3.86666667,  4.88888889,
        5.91111111,  6.93333333,  7.95555556,  8.97777778, 10.        ])

In [395]:
from collections import defaultdict
# and tansho_odds < 25

result = defaultdict(list)
for exp in np.linspace(0,10,140):
    bet_df = df.query(f"expect_return > {exp} and pred > 0.0 and tansho_odds < 25")
    total_payoff = bet_df["payoff"].sum()
    total_bet = len(bet_df)
    return_rate = total_payoff / total_bet
    result["expect_return"].append(exp)
    result["total_bet"].append(total_bet)    
    result["total_payoff"].append(total_payoff)
    result["return_rate"].append(return_rate)
result_df = pd.DataFrame(result)
result_df.head(140)

     expect_return  total_bet  total_payoff  return_rate
0         0.000000      50184       40244.4     0.801937
1         0.071942      50094       40188.3     0.802258
2         0.143885      49138       39632.6     0.806557
3         0.215827      46876       38248.6     0.815953
4         0.287770      43593       36053.7     0.827053
5         0.359712      39983       33360.7     0.834372
6         0.431655      36221       30398.4     0.839248
7         0.503597      32601       27641.9     0.847885
8         0.575540      29233       24900.3     0.851787
9         0.647482      26141       22459.8     0.859179
10        0.719424      23404       20162.5     0.861498
11        0.791367      20911       18341.1     0.877103
12        0.863309      18706       16440.6     0.878894
13        0.935252      16698       14784.2     0.885387
14        1.007194      15008       13226.7     0.881310
15        1.079137      13451       12067.7     0.897160
16        1.151079      12029       10913.7     0.907282
17        1.223022      10844        9884.9     0.911555
18        1.294964       9755        8936.0     0.916043
19        1.366906       8816        8091.8     0.917854
20        1.438849       7915        7367.0     0.930764
21        1.510791       7142        6536.0     0.915150
22        1.582734       6481        5970.6     0.921247
23        1.654676       5889        5532.0     0.939379
24        1.726619       5390        5126.9     0.951187
25        1.798561       4841        4633.8     0.957199
26        1.870504       4404        4199.9     0.953656
27        1.942446       4009        3900.3     0.972886
28        2.014388       3677        3581.8     0.974109
29        2.086331       3353        3315.3     0.988756
30        2.158273       3051        3019.5     0.989676
31        2.230216       2801        2795.6     0.998072
32        2.302158       2539        2572.9     1.013352
33        2.374101       2291        2336.8     1.019991
34        2.446043       2104        2078.0     0.987643
35        2.517986       1926        1905.9     0.989564
36        2.589928       1765        1708.0     0.967705
37        2.661871       1623        1540.0     0.948860
38        2.733813       1484        1442.5     0.972035
39        2.805755       1356        1300.6     0.959145
40        2.877698       1245        1179.2     0.947149
41        2.949640       1143        1103.8     0.965704
42        3.021583       1060        1012.9     0.955566
43        3.093525        991        1002.1     1.011201
44        3.165468        918         919.3     1.001416
45        3.237410        856         874.1     1.021145
46        3.309353        785         807.6     1.028790
47        3.381295        729         757.3     1.038820
48        3.453237        682         724.4     1.062170
49        3.525180        620         694.8     1.120645
50        3.597122        576         615.2     1.068056
51        3.669065        533         603.1     1.131520
52        3.741007        493         538.4     1.092089
53        3.812950        450         505.3     1.122889
54        3.884892        408         479.8     1.175980
55        3.956835        381         432.0     1.133858
56        4.028777        347         414.5     1.194524
57        4.100719        321         367.5     1.144860
58        4.172662        303         303.2     1.000660
59        4.244604        288         303.2     1.052778
60        4.316547        270         303.2     1.122963
61        4.388489        250         268.2     1.072800
62        4.460432        234         268.2     1.146154
63        4.532374        215         249.8     1.161860
64        4.604317        205         232.1     1.132195
65        4.676259        188         232.1     1.234574
66        4.748201        174         232.1     1.333908
67        4.820144        163         208.3     1.277914
68        4.892086        149         173.3     1.163087
69        4.964029        142         173.3     1.220423
70        5.035971        132         173.3     1.312879
71        5.107914        128         162.9     1.272656
72        5.179856        117         162.9     1.392308
73        5.251799        109         162.9     1.494495
74        5.323741        101         162.9     1.612871
75        5.395683         94         150.3     1.598936
76        5.467626         89         150.3     1.688764
77        5.539568         78         108.6     1.392308
78        5.611511         73         108.6     1.487671
79        5.683453         70         108.6     1.551429
80        5.755396         66         108.6     1.645455
81        5.827338         61          92.0     1.508197
82        5.899281         56          92.0     1.642857
83        5.971223         53          92.0     1.735849
84        6.043165         51          92.0     1.803922
85        6.115108         48          74.5     1.552083
86        6.187050         46          74.5     1.619565
87        6.258993         43          59.2     1.376744
88        6.330935         39          59.2     1.517949
89        6.402878         38          59.2     1.557895
90        6.474820         33          59.2     1.793939
91        6.546763         29          59.2     2.041379
92        6.618705         25          59.2     2.368000
93        6.690647         22          35.3     1.604545
94        6.762590         21          35.3     1.680952
95        6.834532         19          16.8     0.884211
96        6.906475         19          16.8     0.884211
97        6.978417         19          16.8     0.884211
98        7.050360         16          16.8     1.050000
99        7.122302         14          16.8     1.200000
100       7.194245         13          16.8     1.292308
101       7.266187         12          16.8     1.400000
102       7.338129         12          16.8     1.400000
103       7.410072         11          16.8     1.527273
104       7.482014         10          16.8     1.680000
105       7.553957         10          16.8     1.680000
106       7.625899         10          16.8     1.680000
107       7.697842          9          16.8     1.866667
108       7.769784          9          16.8     1.866667
109       7.841727          9          16.8     1.866667
110       7.913669          9          16.8     1.866667
111       7.985612          9          16.8     1.866667
112       8.057554          8          16.8     2.100000
113       8.129496          8          16.8     2.100000
114       8.201439          8          16.8     2.100000
115       8.273381          8          16.8     2.100000
116       8.345324          8          16.8     2.100000
117       8.417266          8          16.8     2.100000
118       8.489209          7          16.8     2.400000
119       8.561151          6           0.0     0.000000
120       8.633094          5           0.0     0.000000
121       8.705036          5           0.0     0.000000
122       8.776978          5           0.0     0.000000
123       8.848921          5           0.0     0.000000
124       8.920863          5           0.0     0.000000
125       8.992806          5           0.0     0.000000
126       9.064748          5           0.0     0.000000
127       9.136691          5           0.0     0.000000
128       9.208633          5           0.0     0.000000
129       9.280576          5           0.0     0.000000
130       9.352518          4           0.0     0.000000
131       9.424460          3           0.0     0.000000
132       9.496403          3           0.0     0.000000
133       9.568345          3           0.0     0.000000
134       9.640288          3           0.0     0.000000
135       9.712230          3           0.0     0.000000
136       9.784173          3           0.0     0.000000
137       9.856115          3           0.0     0.000000
138       9.928058          3           0.0     0.000000
139      10.000000          3           0.0     0.000000

In [39]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

ModuleNotFoundError: No module named 'seaborn'

In [40]:
sns.lineplot(result_df,x="expect_return",y="return_rate")

NameError: name 'sns' is not defined

In [42]:
result_df.sort_values("return_rate",ascending = False).head()

    expect_return  total_bet  total_payoff  return_rate
2        0.824242       4445        3306.5     0.743870
3        0.836364       4385        3255.4     0.742395
1        0.812121       4491        3313.9     0.737898
0        0.800000       4547        3342.0     0.734990
10       0.921212       3988        2927.5     0.734077

In [66]:
#他の三連単系にも適応させる
import math
from pathlib import Path

import pandas as pd

DATA_DIR = Path("..", "data")
PREPROCESSED_DIR = DATA_DIR / "01_preprocessed"
TRAIN_DIR = DATA_DIR / "03_train"
OUTPUT_DIR = DATA_DIR / "04_evaluation"
OUTPUT_DIR.mkdir(exist_ok=True, parents=True)

return_tables_filepath = PREPROCESSED_DIR / "return_tables.pickle"
train_dir = TRAIN_DIR
evaluation_filename = "evaluation_lightgbm_rank_niti_odds_removed.csv"
output_dir = OUTPUT_DIR
return_tables = pd.read_pickle(return_tables_filepath)
evaluation_df = pd.read_csv(train_dir / evaluation_filename, sep="\t")
output_dir = output_dir
evaluation_df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred
0,202306030301,2020102181,1,1,1.9,1,12,0.227220
1,202306030301,2020101572,0,2,3.1,2,6,0.308430
2,202306030301,2020102135,0,3,23.4,6,10,0.082764
3,202306030301,2020103975,0,4,6.1,3,13,0.193020
4,202306030301,2020100381,0,5,54.8,7,2,0.019120
...,...,...,...,...,...,...,...,...
35150,202309050912,2017104873,0,12,172.3,13,11,0.008107
35151,202309050912,2019100653,0,13,94.7,12,15,0.013465
35152,202309050912,2017106240,0,14,75.0,10,7,0.029081
35153,202309050912,2018103205,0,15,368.3,15,16,0.009866
35154,202309050912,2017102603,0,16,347.8,14,14,0.004825

In [86]:
"""
sort_colで指定した列でソートし、上位n件のBOX馬券の的中率・回収率を
シミュレーションする関数。
"""
bet_df = (
    evaluation_df.sort_values("pred", ascending = False)
    .groupby("race_id")
    .head(3)
    .groupby("race_id")["umaban"]    
    # 払い戻しテーブルの馬番は文字列型なので合わせる
    .apply(lambda x: list(x.astype(str)))
    .reset_index()
         )
pred_df = (
    evaluation_df.sort_values("pred", ascending = False)
    .sort_values("pred", ascending = False)
    .groupby("race_id")
    .head(3)
    .groupby("race_id")["pred"]
    .apply(lambda x: list(x))
    .reset_index()
)
pred_df

           race_id                                               pred
0     202301010101  [0.5077941893501549, 0.3208448203097965, 0.095...
1     202301010102  [0.3981832041800139, 0.2223949812396349, 0.092...
2     202301010103  [0.2373154014957641, 0.1784663199491415, 0.162...
3     202301010104  [0.1677502822473391, 0.1558535863536714, 0.124...
4     202301010105  [0.1507361826165545, 0.1198399329579728, 0.119...
...            ...                                                ...
2587  202310030808  [0.1865958325642172, 0.1520041532233221, 0.090...
2588  202310030809  [0.4517475478237358, 0.1288483883944573, 0.101...
2589  202310030810  [0.1904262978210795, 0.1258844150211567, 0.112...
2590  202310030811  [0.2223973151855648, 0.1828288977248285, 0.171...
2591  202310030812  [0.1658039725112311, 0.1232718706222467, 0.110...

[2592 rows x 2 columns]

In [90]:
df = bet_df.merge(return_tables, on="race_id")
df = df.merge(pred_df, on="race_id")
df

,race_id,umaban,bet_type,win_umaban,return,pred
0,202301010101,"[5, 8, 1]",単勝,[5],120,"[0.5077941893501549, 0.3208448203097965, 0.095..."
1,202301010101,"[5, 8, 1]",複勝,[5],100,"[0.5077941893501549, 0.3208448203097965, 0.095..."
2,202301010101,"[5, 8, 1]",複勝,[8],110,"[0.5077941893501549, 0.3208448203097965, 0.095..."
3,202301010101,"[5, 8, 1]",複勝,[6],310,"[0.5077941893501549, 0.3208448203097965, 0.095..."
4,202301010101,"[5, 8, 1]",馬連,"[5, 8]",170,"[0.5077941893501549, 0.3208448203097965, 0.095..."
...,...,...,...,...,...,...
28495,202310030812,"[11, 6, 2]",ワイド,"[6, 8]",410,"[0.1658039725112311, 0.1232718706222467, 0.110..."
28496,202310030812,"[11, 6, 2]",ワイド,"[6, 11]",470,"[0.1658039725112311, 0.1232718706222467, 0.110..."
28497,202310030812,"[11, 6, 2]",馬単,"[8, 11]",1580,"[0.1658039725112311, 0.1232718706222467, 0.110..."
28498,202310030812,"[11, 6, 2]",三連複,"[6, 8, 11]",1590,"[0.1658039725112311, 0.1232718706222467, 0.110..."
28499,202310030812,"[11, 6, 2]",三連単,"[8, 11, 6]",6860,"[0.1658039725112311, 0.1232718706222467, 0.110..."

,race_id,umaban,bet_type,win_umaban,return,pred,numeric_values
0,202301010101,"[5, 8, 1]",単勝,[5],120,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
1,202301010101,"[5, 8, 1]",複勝,[5],100,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
2,202301010101,"[5, 8, 1]",複勝,[8],110,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
3,202301010101,"[5, 8, 1]",複勝,[6],310,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
4,202301010101,"[5, 8, 1]",馬連,"[5, 8]",170,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
...,...,...,...,...,...,...,...
28495,202310030812,"[11, 6, 2]",ワイド,"[6, 8]",410,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."
28496,202310030812,"[11, 6, 2]",ワイド,"[6, 11]",470,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."
28497,202310030812,"[11, 6, 2]",馬単,"[8, 11]",1580,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."
28498,202310030812,"[11, 6, 2]",三連複,"[6, 8, 11]",1590,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."
28499,202310030812,"[11, 6, 2]",三連単,"[8, 11, 6]",6860,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."

In [ ]:
#期待値
df["expect_return"] = df["return"] * df["pred"]
df

In [94]:
#無理そうだし、期待値が1.78になるくらいの選択肢を評価するのは良さそう
#要するに手動で計算して、その値が出るように