In [44]:
import create_population_turf
import create_population_turf_newbie
import create_population_turf_nowin
import create_population_obstract
import create_population_dirt
import create_population_dirt_newbie
import create_population_dirt_nowin
import preprocessing
from feature_engineering import FeatureCreator
from feature_engineering_prediction import PredictionFeatureCreator

import prediction


import pandas as pd
import numpy as np


import condition_prediction


from train_lgbm_rank_niti_cross import Trainer_lightgbm_rank_niti_cv
from train_lightgbm_time import Trainer_lightgbm_time
from train_lgbm_time_cross import Trainer_lightgbm_time_cv
from train_lgbm_index_cross import Trainer_lightgbm_index_cv

from evaluation_lightgbm_time_kaiki import Evaluator_lightgbm_time_kaiki

from evaluation_shaft_time_kaiki_cross import Evaluator_lightgbm_time_kaiki_shaft

from evaluation_lgbm_rank_niti_cross import Evaluator_lightgbm_rank_niti_cross
from evaluation_shaft_rank_cross import Evaluator_lightgbm_rank_niti_shaft

from evaluation_lightgbm_index import Evaluator_lightgbm_index

from evaluation_shaft_index import Evaluator_lightgbm_index_shaft


%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [45]:
%autoreload

In [103]:
df = pd.read_csv("../data/03_train/evaluation_lightgbm_rank_niti_cv_dev_obstract.csv",sep="\t")
df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred,pred_binary
0,201803030104,2009100335,0,2,16.5,8,9,0.084425,1
1,201803030104,2014100649,1,1,9.7,5,12,0.073689,1
2,201803030204,2012105949,0,8,22.0,6,4,0.084936,1
3,201803030204,2015110041,0,7,124.4,11,5,0.019865,0
4,201803030204,2012101246,0,6,159.9,13,2,0.023832,0
...,...,...,...,...,...,...,...,...,...
8322,202408060704,2020104922,0,3,3.1,1,9,0.024843,0
8323,202408060704,2021104924,0,4,13.9,5,3,0.039578,0
8324,202408060704,2017106222,0,5,175.3,11,1,0.013237,0
8325,202408060704,2017105602,0,6,3.5,2,5,0.024769,0
8326,202408060704,2019104908,0,7,14.0,6,11,0.085393,1

In [104]:
#期待値
df["expect_return"] = df["tansho_odds"] * df["pred"]
df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred,pred_binary,expect_return
0,201803030104,2009100335,0,2,16.5,8,9,0.084425,1,1.393012
1,201803030104,2014100649,1,1,9.7,5,12,0.073689,1,0.714787
2,201803030204,2012105949,0,8,22.0,6,4,0.084936,1,1.868583
3,201803030204,2015110041,0,7,124.4,11,5,0.019865,0,2.471200
4,201803030204,2012101246,0,6,159.9,13,2,0.023832,0,3.810732
...,...,...,...,...,...,...,...,...,...,...
8322,202408060704,2020104922,0,3,3.1,1,9,0.024843,0,0.077012
8323,202408060704,2021104924,0,4,13.9,5,3,0.039578,0,0.550131
8324,202408060704,2017106222,0,5,175.3,11,1,0.013237,0,2.320399
8325,202408060704,2017105602,0,6,3.5,2,5,0.024769,0,0.086692
8326,202408060704,2019104908,0,7,14.0,6,11,0.085393,1,1.195504

In [62]:
bet_df = df.query("expect_return > 1.0 and pred > 0.08")
bet_df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred,pred_binary,expect_return
4,201709040710,2013104956,0,3,7.7,4,10,0.151707,1,1.168142
41,201706040711,2012104678,0,10,13.5,7,4,0.142301,1,1.921062
55,201706040711,2012104008,0,3,5.4,3,9,0.242821,1,1.311235
58,201709040807,2013104488,0,12,15.7,8,12,0.125473,1,1.969930
60,201709040810,2012103929,0,3,20.1,8,5,0.108937,1,2.189640
...,...,...,...,...,...,...,...,...,...,...
89143,202407040110,2021100935,0,5,10.2,6,3,0.141294,1,1.441199
89145,202407040110,2021105926,0,3,4.7,2,4,0.277356,1,1.303575
89146,202407040110,2020103241,0,2,5.7,4,6,0.275453,1,1.570082
89147,202407040108,2021106118,0,15,13.2,6,3,0.165345,1,2.182559
89154,202407040108,2021104918,0,8,23.9,8,10,0.139651,1,3.337669

In [63]:
#単勝オッズ（払い戻し）xターゲットは当たったか当たってないか、単勝
#的中率は調べてない、賭け方が1以上の場合にかけているから関係ない
bet_df = bet_df.copy()
bet_df.loc[:, "payoff"] = bet_df["target"] * bet_df["tansho_odds"]

bet_df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred,pred_binary,expect_return,payoff
4,201709040710,2013104956,0,3,7.7,4,10,0.151707,1,1.168142,0.0
41,201706040711,2012104678,0,10,13.5,7,4,0.142301,1,1.921062,0.0
55,201706040711,2012104008,0,3,5.4,3,9,0.242821,1,1.311235,0.0
58,201709040807,2013104488,0,12,15.7,8,12,0.125473,1,1.969930,0.0
60,201709040810,2012103929,0,3,20.1,8,5,0.108937,1,2.189640,0.0
...,...,...,...,...,...,...,...,...,...,...,...
89143,202407040110,2021100935,0,5,10.2,6,3,0.141294,1,1.441199,0.0
89145,202407040110,2021105926,0,3,4.7,2,4,0.277356,1,1.303575,0.0
89146,202407040110,2020103241,0,2,5.7,4,6,0.275453,1,1.570082,0.0
89147,202407040108,2021106118,0,15,13.2,6,3,0.165345,1,2.182559,0.0
89154,202407040108,2021104918,0,8,23.9,8,10,0.139651,1,3.337669,0.0

In [64]:
#払い戻しの合計
total_payoff = bet_df["payoff"].sum()
total_payoff

np.float64(9967.9)

In [65]:
#払い戻し、馬券購入回数、回収率
total_bet = len(bet_df)
return_rate = total_payoff / total_bet
total_payoff,total_bet,return_rate

(np.float64(9967.9), 12027, np.float64(0.8287935478506693))

In [66]:
#期待値がどれくらい上になるかを検証
np.linspace(0.8,10,10)

array([ 0.8       ,  1.82222222,  2.84444444,  3.86666667,  4.88888889,
        5.91111111,  6.93333333,  7.95555556,  8.97777778, 10.        ])

In [110]:
df["payoff"] = df["target"] * df["tansho_odds"]

In [147]:
from collections import defaultdict

result = defaultdict(list)
for exp in np.linspace(0.5,3,100):
    bet_df = df.query(f"expect_return > {exp} and pred > 0.07")
    total_payoff = bet_df["payoff"].sum()
    total_bet = len(bet_df)
    return_rate = total_payoff / total_bet
    result["expect_return"].append(exp)
    result["total_bet"].append(total_bet)    
    result["total_payoff"].append(total_payoff)
    result["return_rate"].append(return_rate)
result_df = pd.DataFrame(result)
result_df.head(100)

    expect_return  total_bet  total_payoff  return_rate
0        0.500000       2043        2002.1     0.979980
1        0.525253       1978        1952.0     0.986855
2        0.550505       1927        1912.1     0.992268
3        0.575758       1853        1849.9     0.998327
4        0.601010       1788        1783.7     0.997595
5        0.626263       1733        1706.5     0.984709
6        0.651515       1665        1637.6     0.983544
7        0.676768       1614        1606.5     0.995353
8        0.702020       1553        1560.2     1.004636
9        0.727273       1491        1513.6     1.015158
10       0.752525       1440        1463.1     1.016042
11       0.777778       1392        1434.3     1.030388
12       0.803030       1355        1414.1     1.043616
13       0.828283       1319        1390.5     1.054208
14       0.853535       1265        1320.5     1.043874
15       0.878788       1219        1267.5     1.039787
16       0.904040       1175        1234.1     1.050298
17       0.929293       1134        1199.4     1.057672
18       0.954545       1092        1173.2     1.074359
19       0.979798       1051        1112.8     1.058801
20       1.005051       1014        1058.9     1.044280
21       1.030303        976        1021.7     1.046824
22       1.055556        942         998.2     1.059660
23       1.080808        915         977.4     1.068197
24       1.106061        895         960.9     1.073631
25       1.131313        860         929.2     1.080465
26       1.156566        832         881.1     1.059014
27       1.181818        805         847.7     1.053043
28       1.207071        773         840.4     1.087193
29       1.232323        753         817.5     1.085657
30       1.257576        717         767.1     1.069874
31       1.282828        694         751.6     1.082997
32       1.308081        676         747.0     1.105030
33       1.333333        658         743.5     1.129939
34       1.358586        640         713.4     1.114688
35       1.383838        620         688.6     1.110645
36       1.409091        593         667.6     1.125801
37       1.434343        568         661.1     1.163908
38       1.459596        545         629.0     1.154128
39       1.484848        520         609.8     1.172692
40       1.510101        506         600.6     1.186957
41       1.535354        492         561.5     1.141260
42       1.560606        475         552.5     1.163158
43       1.585859        458         531.2     1.159825
44       1.611111        448         511.8     1.142411
45       1.636364        435         511.8     1.176552
46       1.661616        421         476.2     1.131116
47       1.686869        408         451.2     1.105882
48       1.712121        397         445.6     1.122418
49       1.737374        385         433.4     1.125714
50       1.762626        367         388.4     1.058311
51       1.787879        359         388.4     1.081894
52       1.813131        350         388.4     1.109714
53       1.838384        339         378.9     1.117699
54       1.863636        329         375.1     1.140122
55       1.888889        318         350.0     1.100629
56       1.914141        311         338.5     1.088424
57       1.939394        299         310.1     1.037124
58       1.964646        296         310.1     1.047635
59       1.989899        287         303.2     1.056446
60       2.015152        281         296.5     1.055160
61       2.040404        277         296.5     1.070397
62       2.065657        266         293.2     1.102256
63       2.090909        260         293.2     1.127692
64       2.116162        256         293.2     1.145313
65       2.141414        249         293.2     1.177510
66       2.166667        241         293.2     1.216598
67       2.191919        236         293.2     1.242373
68       2.217172        229         293.2     1.280349
69       2.242424        222         286.4     1.290090
70       2.267677        217         286.4     1.319816
71       2.292929        212         267.2     1.260377
72       2.318182        208         255.0     1.225962
73       2.343434        203         250.6     1.234483
74       2.368687        197         230.9     1.172081
75       2.393939        192         230.9     1.202604
76       2.419192        191         230.9     1.208901
77       2.444444        187         230.9     1.234759
78       2.469697        183         199.1     1.087978
79       2.494949        177         121.5     0.686441
80       2.520202        177         121.5     0.686441
81       2.545455        173         121.5     0.702312
82       2.570707        170         121.5     0.714706
83       2.595960        166         121.5     0.731928
84       2.621212        164         121.5     0.740854
85       2.646465        161          99.0     0.614907
86       2.671717        157          99.0     0.630573
87       2.696970        153          99.0     0.647059
88       2.722222        153          99.0     0.647059
89       2.747475        153          99.0     0.647059
90       2.772727        151          99.0     0.655629
91       2.797980        149          99.0     0.664430
92       2.823232        147          99.0     0.673469
93       2.848485        145          99.0     0.682759
94       2.873737        143          99.0     0.692308
95       2.898990        138          99.0     0.717391
96       2.924242        136          99.0     0.727941
97       2.949495        132          99.0     0.750000
98       2.974747        128          99.0     0.773438
99       3.000000        127          99.0     0.779528

In [ ]:
from collections import defaultdict

result = defaultdict(list)
for exp in np.linspace(0.8,10,100):
    bet_df = df.query(f"expect_return > {exp}")
    total_payoff = bet_df["payoff"].sum()
    total_bet = len(bet_df)
    return_rate = total_payoff / total_bet
    result["expect_return"].append(exp)
    result["total_bet"].append(total_bet)    
    result["total_payoff"].append(total_payoff)
    result["return_rate"].append(return_rate)
result_df = pd.DataFrame(result)
result_df.head(100)

In [39]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

ModuleNotFoundError: No module named 'seaborn'

In [40]:
sns.lineplot(result_df,x="expect_return",y="return_rate")

NameError: name 'sns' is not defined

In [42]:
result_df.sort_values("return_rate",ascending = False).head()

    expect_return  total_bet  total_payoff  return_rate
2        0.824242       4445        3306.5     0.743870
3        0.836364       4385        3255.4     0.742395
1        0.812121       4491        3313.9     0.737898
0        0.800000       4547        3342.0     0.734990
10       0.921212       3988        2927.5     0.734077

In [66]:
#他の三連単系にも適応させる
import math
from pathlib import Path

import pandas as pd

DATA_DIR = Path("..", "data")
PREPROCESSED_DIR = DATA_DIR / "01_preprocessed"
TRAIN_DIR = DATA_DIR / "03_train"
OUTPUT_DIR = DATA_DIR / "04_evaluation"
OUTPUT_DIR.mkdir(exist_ok=True, parents=True)

return_tables_filepath = PREPROCESSED_DIR / "return_tables.pickle"
train_dir = TRAIN_DIR
evaluation_filename = "evaluation_lightgbm_rank_niti_odds_removed.csv"
output_dir = OUTPUT_DIR
return_tables = pd.read_pickle(return_tables_filepath)
evaluation_df = pd.read_csv(train_dir / evaluation_filename, sep="\t")
output_dir = output_dir
evaluation_df

,race_id,horse_id,target,rank,tansho_odds,popularity,umaban,pred
0,202306030301,2020102181,1,1,1.9,1,12,0.227220
1,202306030301,2020101572,0,2,3.1,2,6,0.308430
2,202306030301,2020102135,0,3,23.4,6,10,0.082764
3,202306030301,2020103975,0,4,6.1,3,13,0.193020
4,202306030301,2020100381,0,5,54.8,7,2,0.019120
...,...,...,...,...,...,...,...,...
35150,202309050912,2017104873,0,12,172.3,13,11,0.008107
35151,202309050912,2019100653,0,13,94.7,12,15,0.013465
35152,202309050912,2017106240,0,14,75.0,10,7,0.029081
35153,202309050912,2018103205,0,15,368.3,15,16,0.009866
35154,202309050912,2017102603,0,16,347.8,14,14,0.004825

In [86]:
"""
sort_colで指定した列でソートし、上位n件のBOX馬券の的中率・回収率を
シミュレーションする関数。
"""
bet_df = (
    evaluation_df.sort_values("pred", ascending = False)
    .groupby("race_id")
    .head(3)
    .groupby("race_id")["umaban"]    
    # 払い戻しテーブルの馬番は文字列型なので合わせる
    .apply(lambda x: list(x.astype(str)))
    .reset_index()
         )
pred_df = (
    evaluation_df.sort_values("pred", ascending = False)
    .sort_values("pred", ascending = False)
    .groupby("race_id")
    .head(3)
    .groupby("race_id")["pred"]
    .apply(lambda x: list(x))
    .reset_index()
)
pred_df

           race_id                                               pred
0     202301010101  [0.5077941893501549, 0.3208448203097965, 0.095...
1     202301010102  [0.3981832041800139, 0.2223949812396349, 0.092...
2     202301010103  [0.2373154014957641, 0.1784663199491415, 0.162...
3     202301010104  [0.1677502822473391, 0.1558535863536714, 0.124...
4     202301010105  [0.1507361826165545, 0.1198399329579728, 0.119...
...            ...                                                ...
2587  202310030808  [0.1865958325642172, 0.1520041532233221, 0.090...
2588  202310030809  [0.4517475478237358, 0.1288483883944573, 0.101...
2589  202310030810  [0.1904262978210795, 0.1258844150211567, 0.112...
2590  202310030811  [0.2223973151855648, 0.1828288977248285, 0.171...
2591  202310030812  [0.1658039725112311, 0.1232718706222467, 0.110...

[2592 rows x 2 columns]

In [90]:
df = bet_df.merge(return_tables, on="race_id")
df = df.merge(pred_df, on="race_id")
df

,race_id,umaban,bet_type,win_umaban,return,pred
0,202301010101,"[5, 8, 1]",単勝,[5],120,"[0.5077941893501549, 0.3208448203097965, 0.095..."
1,202301010101,"[5, 8, 1]",複勝,[5],100,"[0.5077941893501549, 0.3208448203097965, 0.095..."
2,202301010101,"[5, 8, 1]",複勝,[8],110,"[0.5077941893501549, 0.3208448203097965, 0.095..."
3,202301010101,"[5, 8, 1]",複勝,[6],310,"[0.5077941893501549, 0.3208448203097965, 0.095..."
4,202301010101,"[5, 8, 1]",馬連,"[5, 8]",170,"[0.5077941893501549, 0.3208448203097965, 0.095..."
...,...,...,...,...,...,...
28495,202310030812,"[11, 6, 2]",ワイド,"[6, 8]",410,"[0.1658039725112311, 0.1232718706222467, 0.110..."
28496,202310030812,"[11, 6, 2]",ワイド,"[6, 11]",470,"[0.1658039725112311, 0.1232718706222467, 0.110..."
28497,202310030812,"[11, 6, 2]",馬単,"[8, 11]",1580,"[0.1658039725112311, 0.1232718706222467, 0.110..."
28498,202310030812,"[11, 6, 2]",三連複,"[6, 8, 11]",1590,"[0.1658039725112311, 0.1232718706222467, 0.110..."
28499,202310030812,"[11, 6, 2]",三連単,"[8, 11, 6]",6860,"[0.1658039725112311, 0.1232718706222467, 0.110..."

,race_id,umaban,bet_type,win_umaban,return,pred,numeric_values
0,202301010101,"[5, 8, 1]",単勝,[5],120,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
1,202301010101,"[5, 8, 1]",複勝,[5],100,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
2,202301010101,"[5, 8, 1]",複勝,[8],110,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
3,202301010101,"[5, 8, 1]",複勝,[6],310,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
4,202301010101,"[5, 8, 1]",馬連,"[5, 8]",170,"[0.5077941893501549, 0.3208448203097965, 0.095...","[0.5077941893501549, 0.3208448203097965, 0.095..."
...,...,...,...,...,...,...,...
28495,202310030812,"[11, 6, 2]",ワイド,"[6, 8]",410,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."
28496,202310030812,"[11, 6, 2]",ワイド,"[6, 11]",470,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."
28497,202310030812,"[11, 6, 2]",馬単,"[8, 11]",1580,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."
28498,202310030812,"[11, 6, 2]",三連複,"[6, 8, 11]",1590,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."
28499,202310030812,"[11, 6, 2]",三連単,"[8, 11, 6]",6860,"[0.1658039725112311, 0.1232718706222467, 0.110...","[0.1658039725112311, 0.1232718706222467, 0.110..."

In [ ]:
#期待値
df["expect_return"] = df["return"] * df["pred"]
df

In [94]:
#無理そうだし、期待値が1.78になるくらいの選択肢を評価するのは良さそう
#要するに手動で計算して、その値が出るように