In [2]:
import create_population
import preprocessing
from feature_engineering import FeatureCreator
from feature_engineering_prediction import PredictionFeatureCreator

import prediction

import pandas as pd


from train_lightgbm_rank_diff import Trainer_lightgbm_rank_diff 
from train_lightgbm_rank_niti import Trainer_lightgbm_rank_niti
from train_lightgbm_time import Trainer_lightgbm_time
from train_lightgbm_rank_kaiki import Trainer_lightgbm_rank_kaiki


from evaluation_lightgbm_rank_diff import Evaluator_lightgbm_rank_diff
from evaluation_lightgbm_rank_niti import Evaluator_lightgbm_rank_niti
from evaluation_lightgbm_time_kaiki import Evaluator_lightgbm_time_kaiki
from evaluation_lightgbm_rank_kaiki import Evaluator_lightgbm_rank_kaiki
from evaluation_pop import Evaluator_pop

%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
%autoreload

In [5]:
population = create_population.create(from_="2023-12-01", to_="2023-12-31")

In [3]:
population

           race_id       date    horse_id
0     202306050101 2023-12-02  2021104145
1     202306050101 2023-12-02  2021107141
2     202306050101 2023-12-02  2021104079
3     202306050101 2023-12-02  2021102752
4     202306050101 2023-12-02  2021103638
...            ...        ...         ...
4069  202309050912 2023-12-28  2017104873
4070  202309050912 2023-12-28  2019100653
4071  202309050912 2023-12-28  2017106240
4072  202309050912 2023-12-28  2018103205
4073  202309050912 2023-12-28  2017102603

[4074 rows x 3 columns]

In [62]:
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows',100)

result_df

,race_id,着順,枠番,馬番,馬名,性齢,斤量,騎手,タイム,着差,...,賞金(万円),time,corner_1,corner_2,corner_3,corner_4,corner_1_relative,corner_2_relative,corner_3_relative,corner_4_relative
378500,202306050101,1,8,15,オセアエクスプレス,牡2,56.0,横山武史,1:12.8,NaN,...,550.0,72.8,8,8,NaN,NaN,-0.038903,-0.039828,NaN,NaN
378501,202306050101,2,6,12,プレイフルネス,牝2,51.0,小林美駒,1:12.9,3/4,...,220.0,72.9,4,4,NaN,NaN,-0.868836,-0.889499,NaN,NaN
378502,202306050101,3,5,10,スピードパンサー,牡2,56.0,石川裕紀,1:13.1,1.1/4,...,140.0,73.1,2,2,NaN,NaN,-1.283803,-1.314334,NaN,NaN
378503,202306050101,4,2,4,マニーブルース,牡2,56.0,吉田豊,1:14.2,7,...,83.0,74.2,9,8,NaN,NaN,0.168580,-0.039828,NaN,NaN
378504,202306050101,5,3,5,トップボス,牡2,53.0,水沼元輝,1:14.2,ハナ,...,55.0,74.2,13,13,NaN,NaN,0.998513,1.022260,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382569,202309050912,12,6,11,エグレムニ,牡6,58.0,松若風馬,1:09.5,3/4,...,NaN,69.5,15,15,NaN,NaN,1.435781,1.444570,NaN,NaN
382570,202309050912,13,8,15,ハギノメーテル,牝4,56.0,藤懸貴志,1:09.5,1/2,...,NaN,69.5,9,11,NaN,NaN,0.216002,0.604093,NaN,NaN
382571,202309050912,14,4,7,アビエルト,牡6,58.0,和田竜二,1:09.6,1/2,...,NaN,69.6,5,6,NaN,NaN,-0.597183,-0.446503,NaN,NaN
382572,202309050912,15,8,16,クムシラコ,牡5,58.0,荻野琢真,1:09.8,3/4,...,NaN,69.8,5,4,NaN,NaN,-0.597183,-0.866742,NaN,NaN
382573,202309050912,16,7,14,テイエムイダテン,牡6,58.0,菱田裕二,1:10.4,3.1/2,...,NaN,70.4,16,15,NaN,NaN,1.639077,1.444570,NaN,NaN

In [13]:
#相対化実験2

In [3]:
#まとめて実行
# レース結果テーブルの前処理
results_preprocessed = preprocessing.process_results()
# 馬の過去成績テーブルの加工
horse_results_preprocessed = preprocessing.process_horse_results()
# レース情報テーブルの前処理
race_info_preprocessed = preprocessing.process_race_info()
# 騎手リーディングテーブルの前処理
jockey_leading_preprocessed = preprocessing.process_jockey_leading()
# 調教師リーディングテーブルの前処理
trainer_leading_preprocessed = preprocessing.process_trainer_leading()
# 血統テーブルの前処理
peds_preprocessed = preprocessing.process_peds()
# 種牡馬リーディングテーブルの前処理
sire_leading_preprocessed = preprocessing.process_sire_leading()

In [30]:
#特徴量バグ修正
from pathlib import Path

from tqdm.notebook import tqdm
import json
import re
from pathlib import Path

import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from tqdm.notebook import tqdm
from webdriver_manager.chrome import ChromeDriverManager
from io import StringIO 

DATA_DIR = Path("..", "data")
POPULATION_DIR = DATA_DIR / "00_population"
INPUT_DIR = DATA_DIR / "01_preprocessed"
OUTPUT_DIR = DATA_DIR / "02_features"
OUTPUT_DIR.mkdir(exist_ok=True, parents=True)
poplation_filename = "population.csv"
population_dir: Path = POPULATION_DIR
input_dir: Path = INPUT_DIR

population = pd.read_csv(population_dir / poplation_filename, sep="\t")
horse_results_filename = "horse_results.csv"
horse_results = pd.read_csv(input_dir / horse_results_filename, sep="\t")

In [31]:
print(population["race_id"].dtype)
print(horse_results["horse_id"].dtype)

int64
int64

In [46]:
baselog = (
    population.merge(
        horse_results, on="horse_id", suffixes=("", "_horse")
    )
    .query("date_horse < date")
    .sort_values("date_horse", ascending=False)
)
print(baselog["horse_id"].dtype)
print(baselog["race_id"].dtype)

int64
int64

In [75]:
merged_df = population.copy()
merged_df

           race_id        date    horse_id
0     202306050101  2023-12-02  2021104145
1     202306050101  2023-12-02  2021107141
2     202306050101  2023-12-02  2021104079
3     202306050101  2023-12-02  2021102752
4     202306050101  2023-12-02  2021103638
...            ...         ...         ...
4069  202309050912  2023-12-28  2017104873
4070  202309050912  2023-12-28  2019100653
4071  202309050912  2023-12-28  2017106240
4072  202309050912  2023-12-28  2018103205
4073  202309050912  2023-12-28  2017102603

[4074 rows x 3 columns]

In [79]:
grouped_df = baselog.groupby(["race_id", "horse_id"])
print(grouped_df["race_id"].dtype)
df = (
    grouped_df.head(5)
    .groupby(["race_id", "horse_id"])[["prize"]]
    .mean()
    .add_suffix(f"_{5}races")
)
df

race_id       horse_id
202306050101  2021102675    int64
              2021102750    int64
              2021102752    int64
              2021102925    int64
              2021103111    int64
                            ...
202309050912  2019105139    int64
              2019106102    int64
              2020100105    int64
              2020100815    int64
              2020101792    int64
Name: race_id, Length: 3522, dtype: object

                         prize_5races
race_id      horse_id
202306050101 2021102675      0.000000
             2021102750      0.000000
             2021102752     86.250000
             2021102925     27.666667
             2021103111      0.000000
...                               ...
202309050912 2019105139     92.800000
             2019106102    149.560000
             2020100105    661.340000
             2020100815    603.100000
             2020101792    586.000000

[3522 rows x 1 columns]

In [65]:
tdf = merged_df.merge(grouped_df, on=["race_id", "horse_id"],how= "left")
tdf

TypeError: Can only merge Series or DataFrame objects, a <class 'pandas.core.groupby.generic.DataFrameGroupBy'> was passed

In [17]:
fc = FeatureCreator()

In [25]:
#race_typeの型が不一致、バグ修正
fc.baselog = (
            fc.population.merge(
                fc.horse_results, on="horse_id", suffixes=("", "_horse")
            )
            .query("date_horse < date")
            .sort_values("date_horse", ascending=False)
        )

merged_df = population.copy()
grouped_df = fc.baselog.groupby(["race_id", "horse_id"])

print(merged_df["race_id"].dtype)
print(grouped_df["race_id"].dtype)

int64
race_id       horse_id
202306050101  2021102675    int64
              2021102750    int64
              2021102752    int64
              2021102925    int64
              2021103111    int64
                            ...
202309050912  2019105139    int64
              2019106102    int64
              2020100105    int64
              2020100815    int64
              2020101792    int64
Name: race_id, Length: 3522, dtype: object

In [15]:
#crossのバグ修正
merged_df = fc.population.copy()        
df = (
    fc.results[["race_id", "horse_id", "wakuban", "umaban", "sex"]]
    .merge(fc.race_info[["race_id", "race_type", "around"]], on="race_id")
    .merge(merged_df[["race_id", "horse_id", "date"]], on=["race_id", "horse_id"], how="left")
)


# wakuban と race_type の交互作用特徴量
df["wakuban_race_type"] = df["race_type"].map({0: 1, 1: -1, 2: 0}).fillna(0) * df["wakuban"]
df["wakuban_around"] = df["around"].map({2: 1}).fillna(0) * df["wakuban"]
df["umaban_race_type"] = df["race_type"].map({0: 1, 1: -1, 2: 0}).fillna(0) * df["umaban"]
df["umaban_around"] = df["around"].map({2: 1}).fillna(0) * df["umaban"]


# 季節 (日付) と性別に基づく交互作用特徴量
df["date_1"] = pd.to_datetime(df["date"])
df["sin_date"] = np.sin(2 * np.pi * df["date_1"].dt.dayofyear / 365)
df["cos_date"] = np.cos(2 * np.pi * df["date_1"].dt.dayofyear / 365) + 1

df["sin_date_sex"] = df["sex"].map({0: -1, 1: 1}) * df["sin_date"]
df["cos_date_sex"] = df["sex"].map({0: -1, 1: 1}) * df["cos_date"]


merged_df = merged_df.merge(
    df[["race_id", "horse_id", "date","wakuban_race_type", "wakuban_around","umaban_race_type","umaban_around", "sin_date_sex", "cos_date_sex"]],
    on=["race_id","date", "horse_id"],
    how="left"
)
merged_df = merged_df.astype({col: 'float32' for col in merged_df.select_dtypes('float64').columns})
merged_df = merged_df.astype({col: 'int32' for col in merged_df.select_dtypes('int64').columns})

merged_df

# self.agg_cross_features_df= merged_df

,race_id,date,horse_id,wakuban_race_type,wakuban_around,umaban_race_type,umaban_around,sin_date_sex,cos_date_sex
0,442587189,2023-12-02,2021104145,8.0,0.0,15.0,0.0,0.478734,-1.877960
1,442587189,2023-12-02,2021107141,6.0,0.0,12.0,0.0,-0.478734,1.877960
2,442587189,2023-12-02,2021104079,5.0,0.0,10.0,0.0,0.478734,-1.877960
3,442587189,2023-12-02,2021102752,2.0,0.0,4.0,0.0,0.478734,-1.877960
4,442587189,2023-12-02,2021103638,3.0,0.0,5.0,0.0,0.478734,-1.877960
...,...,...,...,...,...,...,...,...,...
4069,445588000,2023-12-28,2017104873,-6.0,0.0,-11.0,0.0,0.051620,-1.998667
4070,445588000,2023-12-28,2019100653,-8.0,0.0,-15.0,0.0,-0.051620,1.998667
4071,445588000,2023-12-28,2017106240,-4.0,0.0,-7.0,0.0,0.051620,-1.998667
4072,445588000,2023-12-28,2018103205,-8.0,0.0,-16.0,0.0,0.051620,-1.998667
4073,445588000,2023-12-28,2017102603,-7.0,0.0,-14.0,0.0,0.051620,-1.998667

In [5]:
fc = FeatureCreator()
features = fc.create_features()

ValueError: You are trying to merge on int64 and object columns for key 'race_id'. If you wish to proceed you should use pd.concat